---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Courses that I am currently running as course responsible


* [https://uppsala.instructure.com/courses/102132|Deep learning], 5hp, Master level, given annually in January-March.

I have more than 15 years of experience in teaching, developing and being responsible for several courses in machine learning, automatic control, sensor fusion and mathematics on bachelor, master and PhD level. For a full list of all courses, see the summary of my [Teaching experience](https://nikwa.github.io/files/NiklasWahlstromTeaching.pdf).

I am co-author of the textbook [https://smlbook.org/|Machine Learning - A First Course for Engineers and Scientists] suitable for a first machine learning course for Master or last year Bachelor students.

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
